<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">

    <title>Machine Learning Lab</title>
</head>

<body>
    <nav style="width: 100%;" class="navbar navbar-dark bg-secondary">
        <a class="  navbar-brand" href="#" style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-botttom: 0px;">
             <img style="max-height: auto; width:100%;" src="{{ url_for('static',filename = 'image/dpforml.jpg')  }}" 
             class="img-responsive" style="margin-top:0px;style=width: auto; height: auto; min-width:100%; min-height: auto;">
          
          
          
              
              <a href="/" style="color: red; margin-right: 10px;">HOME</a>
            
      </div>
           
        </a>
        
    </nav>

    
<h1 style="text-align:center">Contribution</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                
            </div>
            
         <div class="col-xs-12 col-md-4">
                <div class="card mb-4">
            
                    <div class="card">
                        <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/Deepak Moud Picture.jpeg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"; style="text-align:center">Developer</h5>
                            <p class="card-text"; style="text-align:justify">Deepak Moud, Subject expert & Trainer, Deep learning, ANN, CNN, RNN, NLP, ML, Python, SQL</p>
            
                            
                        </div>
            
            
                    </div>
                </div>
            </div>
                 
    <br><br><br><br><br><br>
    
    
     <P style="font-size:20px;text-align:justify">Mr. Deepak Moud is Trainer and Guide in the in Computer Engineering
      . He has more than 18 years of teaching and Research experience. He is BE, MTech in Computer Science & Engineering. His research interests are in the area of Image 
     Processing, Machine Learning, Deep Learning Data Mining, DBMS, SQL, ANN, RNN, CNN and  NLP. He has published more than 20 
     research papers in reputed journal in this area. He is expert in C programming, C++, Java and Python Programming. He has received Best paper award two times. 
     He guided many Deep Learning, Machine learning, Python flask projects. He has conducted training on various 
     technologies. 
      He is Microsoft certified Azure AI Fundamental and Data Fundamental professional.</P>
    
   <br>
   <br>
   
                <h1>Disclaimer</h1>
                <br>
                <p style="font-size:20px;text-align:justify;color:red">This website contains images and content  obtained  by  routine Google Images/document  searches. Some of these  images/data may perhaps be under copyright. They are  included here for educational and noncommercial  purposes and are considered to be covered by  the doctrine of Fair Use. In any event they are  easily available from Google Images/data.It's not feasible to give full scholarly credit to the  creators of these images/data. We hope they can be  satisfied with the positive role. </p>
              
                
                
     <br>
     <br>
     <br><br><br><br><br><br>
    
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Developed by Deepak Moud</h9>
            </marquee>
        </div>
    </div>
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>

</body>

</html>

